<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>indexer-agent</display-name>
  
  <servlet>
  	<servlet-name>indexer-agent</servlet-name>
  	<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
  	<init-param>
  		<param-name>javax.ws.rs.Application</param-name>
  		<param-value>ro.orbuculum.agent.Application</param-value>
  	</init-param>
  </servlet>
  
    
  <servlet-mapping>
      <servlet-name>indexer-agent</servlet-name>
      <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
</web-app>